<div class="header">
  <div class="brand">
    <span class="brand__text">HACK</span>
    <img class="brand__img" src="./assets/images/brain.svg" alt="" />
    <span class="brand__text">HOLICS</span>
  </div>
  <ul class="header__menu">
    <li class="header__menu-item" routerLink="/upload">
      <button class="header__menu-item-btn" mat-button color="primary">
        Upload
      </button>
    </li>
    <li class="header__menu-item" routerLink="/dashboard">
      <button class="header__menu-item-btn" mat-button color="primary">
        Dashboard
      </button>
    </li>
    <li class="header__menu-item" routerLink="/team">
      <button class="header__menu-item-btn" mat-button color="primary">
        Team
      </button>
    </li>
  </ul>
</div>
