<div class="upload">
  <div class="left">
    <!-- <span class="smoke"></span> -->
    <h1 class="upload__msg">Enter data to predict</h1>
    <form>
      <div class="textarea">
        <mat-form-field class="textarea__input">
          <textarea
            class="textarea__input-field"
            name="unformattedTextarea"
            [(ngModel)]="unformattedStringToPredict"
            matInput
            placeholder="Enter input data"
          ></textarea>
        </mat-form-field>
      </div>
      <button mat-fab class="upload__btn" (click)="predictSingleCase()">
        <mat-icon class="upload__btn-icon" svgIcon="predict"></mat-icon>
      </button>
    </form>
  </div>
  <div class="divider">
    <!-- <img src="./assets/images/divide-mathematical-sign.svg" alt="" /> -->
    <h1>OR</h1>
  </div>
  <div class="right">
    <!-- <span class="smoke"></span> -->
    <h1 class="upload__msg">Select file to upload</h1>
    <form>
      <input type="file" #file style="display: none" (change)="onFileAdded()" />
      <button mat-fab class="upload__btn" (click)="addFiles()">
        <mat-icon class="upload__btn-icon" svgIcon="upload"></mat-icon>
      </button>
    </form>
  </div>
</div>
